@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

h2{
    position: relative;
    font-size: 4em;
    color: #404040;
    font-weight: 300;
    letter-spacing: 0.05em;
    cursor: default;
    text-align: center;
}